<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/todolist.css">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <div class="to-do-list">
            <div
                class="container d-flex justify-content-center align-items-center p-5">
                <div
                    class="to-do-list-body position-relative d-flex flex-column bg-white rounded-5">
                    <div class="dots position-absolute overflow-hidden">
                        <div class="dot"></div>
                    </div>
                    <div class="to-do-list-header"></div>
                    <div class="to-do-list-tasks p-5">
                        <div class="title text-center">
                            <h1 class="fw-bold">To-do list</h1>
                            <p id="tasksInfo" class="fw-bold"></p>
                        </div>
                        <form action="/todolist-update" method="POST">
                            <input type="hidden" name="user_id" value="<%= user.id %>">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="firstName">FirstName</label>
                                            <input type="text"
                                                class="form-control"
                                                name="firstName"
                                                id="firstName"
                                                value="<%= user.firstName %>"
                                                >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="lastName">LastName</label>
                                            <input type="text"
                                                class="form-control"
                                                name="lastName"
                                                value="<%= user.lastName %>"
                                                id="lastName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email"
                                                class="form-control"
                                                name="email"
                                                value="<%= user.email %>"
                                                id="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password"
                                                class="form-control"
                                                name="password"
                                                value="<%= user.password %>"
                                                id="password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input type="text"
                                                class="form-control"
                                                name="address"
                                                value="<%= user.address %>"
                                                id="address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="gender">Gender</label>
                                            <select class="form-select"
                                                id="gender" name="gender">
                                                <option value="0" "<%= user.gender %> = 1 ? 'selected' : ''">Nam</option>
                                                <option value="1" "<%= user.gender %> = 0 ? 'selected' : ''">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phoneNumber">Phone Number</label>
                                            <input type="number"
                                                class="form-control"
                                                name="phoneNumber"
                                                value="<%= user.phoneNumber %>"
                                                id="phoneNumber">
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="my-3 text-right">
                                    <button
                                        class="btn btn-outline-secondary"
                                        type="submit"
                                        id="addTaskBtn">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="jquery-3.7.1.min.js"></script>
        <!-- <script src="/js/main.js"></script> -->
    </body>
</html>